---
import HeadCommon from '../components/HeadCommon.astro';
import { Repl } from '../repl/Repl.jsx';
---

<html>
  <head>
    <HeadCommon />
    <title>birder</title>
  </head>
  <body>
    <Repl client:only="react" embedded />
  </body>
</html>
